<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongkun.mapper.apply.HxWorkReportMapper">

    <!--  获取工作更新每日汇总数量-->
    <select id="getHxWorkReportDailySummaryCountList" resultType="com.hongkun.model.vo.hx.HxWorkReportDailySummaryVO">
        select hp.phone userid,hp.name,hp.orgLongName department,jobTitle,a.time,
        case when a.type='WORK_DAY' then '日报'
        when a.type='WORK_WEEK' then '周报'
        when a.type='WORK_MONTH' then '月报' end type
        ,a.num
        FROM (

        select time,openId,type,count(*) num
        FROM (
        select DISTINCT date_format(hwr.startDate, '%Y-%m-%d') time,
        hwr.openId,type

        FROM hx_work_report hwr
        where 1=1
        <if test="startTime != null and startTime != '' ">
            and hwr.startDate >= #{startTime}
        </if>
        <if test="endTime != null and endTime != '' ">
            and hwr.startDate <![CDATA[ <= ]]> #{endTime}
        </if>
        )a1
        GROUP BY openId,time,type

        )a,t_bd_person hp where a.openId=hp.oid

        order by a.time desc
    </select>

    <!--  获取工作更新每日汇总数量-->
    <select id="getUserWorkReportCountList" resultType="com.hongkun.model.vo.hx.UserWorkReportCountVO">
        select hp.phone userid,hp.name,hp.orgLongName department,jobTitle,
        case when a.type='WORK_DAY' then '日报'
        when a.type='WORK_WEEK' then '周报'
        when a.type='WORK_MONTH' then '月报' end type
        ,a.num
        FROM (

        select openId,type,count(*) num
        FROM (
        select DISTINCT date_format(hwr.startDate, '%Y-%m-%d') time,hwr.openId,type
        FROM hx_work_report hwr
        where 1=1
        <if test="startTime != null and startTime != '' ">
            and hwr.endDate >= #{startTime}
        </if>
        <if test="endTime != null and endTime != '' ">
            and hwr.endDate <![CDATA[ <= ]]> #{endTime}
        </if>
        )a1
        GROUP BY openId,type

        )a,t_bd_person hp where a.openId=hp.oid

        order by hp.orgLongName desc
    </select>


</mapper>